@media (max-width:625px) {
    .searchField {
        margin-top: -25px;
        margin-bottom: 25px;
    }

    .header {
        flex-direction: column;
    }

    .footer {
        height: 26vh !important;
        text-align: center;
    }
}

@media (max-width:415px) {
    .searchField {
        margin-top: -25px;
        margin-bottom: 25px;
    }

    .header {
        flex-direction: column;
    }

    .footer {
        height: 26vh !important;
        text-align: center;
    }
}

@media (max-width:376px) {
    .searchField {
        margin-top: -25px;
        margin-bottom: 25px;
    }

    .header {
        flex-direction: column;
    }

    .footer {
        height: 26vh !important;
        text-align: center;
    }

}

@media (max-width:281px) {
    .pokemonName {
        width: 188px;
    }
}