@media (max-width:415px) {
    .searchField {
        margin-top: -25px;
        margin-bottom: 25px;
    }

    .header {
        flex-direction: column;
    }

    .footer {
        height: 26vh !important;
        text-align: center;
    }
}

@media (max-width:376px) {
    .searchField {
        margin-top: -25px;
        margin-bottom: 25px;
    }

    .header {
        flex-direction: column;
    }

    .typeAllPokemon {
        margin-top: -136px;
    }

    .pokemonAllImage {
        margin-top: -4px;
        margin-left: 84px;
    }

    .footer {
        height: 26vh !important;
        text-align: center;
    }

}
