body {
    margin: 0;
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
}

.pokemonPopUp2 {
    min-height: 28rem;
    background-color: #FB6C6C;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 24px;
    border-radius: 40px;

}

.singleImgPokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-top: 242px;
    min-height: 100px;
}

.pokemonName {
    width: 200px;
    margin-top: -15px;
}

.pokemonImage {
    width: 233px;
    margin-top: -200px;
}

.closeImg {
    height: 26px;
    cursor: pointer;
}

.pokemonPopUp {
    width: 30rem;
}

.mainSinglePokemon {
    display: flex;
    justify-content: center;
    height: 46rem;
}

.typePokemon {
    margin-top: -366px;
    background-color: hsl(240deg 7% 97% / 22%);
    border-radius: 20px;
    width: 70px;
    text-align: center;
    height: 25px;
    margin-left: 25px;
}

.typePokemon2 {
    margin-top: -40px;
    background-color: hsl(240deg 7% 97% / 22%);
    border-radius: 20px;
    width: 70px;
    text-align: center;
    height: 25px;
    margin-left: 85px;
}

.textType {
    color: white;
    margin-top: 0px;
    height: 24px;

}

.currentId {
    display: flex;
    align-items: center;
    height: 123px;
    margin-top: 37px;
}

.stats {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    width: 92%;

}

.border {
    margin-top: -2px;
    border-bottom: solid 1px rgb(159, 159, 159);
    width: 92%;
}

a {
    border-bottom: solid 3px transparent;
    height: 60px;
    text-decoration: none;
    color: rgb(159, 159, 159);
}

a:hover {
    color: black;
    z-index: 2;
    border-bottom: solid 3px rgb(80, 80, 231)
}

.hoverKeep {
    color: black;
    z-index: 2;
    border-bottom: solid 3px rgb(80, 80, 231)
}

.aboutField1 {
    display: flex;
    margin-top: 33px;
    width: 92%;
}

.aboutField2 {
    margin-right: 60px;
}

.baseStatsField1 {
    display: flex;
    justify-content: space-between;
    margin-top: -5px;
    width: 92%;
}

.evolutionField1 {
    display: flex;
    margin-top: 5px;
    width: 92%;
}

.movesField1 {
    display: flex;
    margin-top: 0px;
    width: 92%;
}

.d-none {
    display: none !important;
}

.allPokemonShow {
    margin: 15px;
    background-color: #FB6C6C;
    border-radius: 40px;
    transition: 125ms ease-in-out;
}

.allPokemonShow:hover {
    transform: scale(1.1);
    transition: 125ms ease-in-out;
}

.allPokemon2 {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.pokemonAll2 {
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 24px;
    cursor: pointer;
}

.typeAllPokemon {
    margin-top: -150px;
    background-color: hsl(240deg 7% 97% / 22%);
    border-radius: 20px;
    width: 70px;
    text-align: center;
    height: 25px;
    margin-left: 25px;
}

.typeAllPokemon2 {
    background-color: hsl(240deg 7% 97% / 22%);
    border-radius: 20px;
}

.pokemonAllImage {
    height: 9rem;
    max-width: 14rem;
    margin-top: 32px;
    margin-left: 67px;
    cursor: pointer;
}

.typePokemonAll {
    background-color: hsl(240deg 7% 97% / 22%);
    border-radius: 20px;
    width: 70px;
    text-align: center;
    height: 3vh;
}


.loadBtn {
    border-radius: 25px;
    height: 61px;
    width: 150px;
    font-size: 20px;
    color: black;
    border: transparent;
}

button:hover {
    border: 2px solid orange;
    cursor: pointer;
}

.isLoading {
    display: flex;
    position: absolute;
    background-color: aliceblue;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    z-index: 3;
    top: 162px;
}

.loadDiv {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.isLoadingImg {
    animation: rotate 0.5s linear infinite;
    width: 100px;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}